dist: xenial
language: ruby
rvm:
- 2.6.0
- 2.5.3
- 2.4.5
- 2.3.8
- 2.2.10
- 2.1.10
before_install:
- gem install bundler -v '~> 1.17'
env:
- GEM=will_paginate
- GEM=kaminari
- GEM=pagy
gemfile:
- gemfiles/rails_4_2.gemfile
- gemfiles/rails_5_0.gemfile
- gemfiles/rails_5_1.gemfile
- gemfiles/rails_5_2.gemfile
- gemfiles/rails_head.gemfile
jobs:
  exclude:
  - rvm: 2.6.0
    gemfile: gemfiles/Gemfile.rails-4-2
  - rvm: 2.1.10
    gemfile: gemfiles/rails_5_0.gemfile
  - rvm: 2.1.10
    gemfile: gemfiles/rails_5_1.gemfile
  - rvm: 2.1.10
    gemfile: gemfiles/rails_5_2.gemfile
  - rvm: 2.4.5
    gemfile: gemfiles/rails_head.gemfile
  - rvm: 2.3.8
    gemfile: gemfiles/rails_head.gemfile
  - rvm: 2.2.10
    gemfile: gemfiles/rails_head.gemfile
  - rvm: 2.1.10
    gemfile: gemfiles/rails_head.gemfile
  - rvm: 2.2.10
    env: GEM=pagy
  - rvm: 2.1.10
    env: GEM=pagy
  allow_failures:
  - gemfile: gemfiles/rails_head.gemfile
  include:
  - stage: Release
    rvm: 2.6.0
    env: []
    script: skip
    install: skip
    deploy:
      provider: rubygems
      api_key:
        secure: MgeXelR7uhiEvC7dqRzV7e6SbWAMG7TvEquFvqIEh0osAbjdV2UKLPGoFHhoP3WTrcPqxUw9HYr0uBsxm5Oj+wsdIT1VSCojVw0BwTIE+rpFFE5JdZdQr5217vAFJn4H8ddareh5E2dyFUXWzlH2w0+75DZd33NAO5LfN2GXsAc=
      gem: paginate-responder
      on:
        tags: true
        repo: jgraichen/paginate-responder
